<!--The content below is only a placeholder and can be replaced.-->


<nav class="navbar navbar-inverse" style="background-color:rgb(232, 133, 26) ; border-radius:0px; border-color: transparent;">
  <div class="nav navbar-nav pull-left">
      <img width="52" alt="Angular Logo" src="assets/pictures/ocp.png" style="margin: 10px 10px 10px 19px; ">
  </div>
  <div class="container-fluid  pull-right " style="margin-top: 15px; margin-right: 10px;">
   
    <ul class="nav navbar-nav     ">
      
      <li><a href="/home">Home</a></li>
      <li><a href="/list">Services</a></li>
      <li><a href="/role">About Us</a></li>
      <li><a href="/contactus">Contact Us</a></li>
      <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="/role">Sign Up<span class="caret"></span></a>
          <ul class="dropdown-menu">
              <li><a href="#">User Sign</a></li>
              <li><a href="#">Administator Sign</a></li>
            </ul></li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="/role">Login Up<span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href="#">User Login</a></li>
            <li><a href="#">Administator Login</a></li>
          </ul></li>
    </ul>
  </div>
  
  
</nav>


<router-outlet></router-outlet>
