.monboutton{
    border-collapse: separate;
    border-spacing:  1em;
}
.secondform{
    border-style: double;
    
    margin-left: 40px;
    margin-right: 40px;
    padding-left: 20px;
    border-right-width: 3px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;

}
.mat-form-field-infix{
    
    border-top-width: 0px;
    padding-top: 0px;
    padding-left: 12px;
    padding-bottom: 2px;
    width:550px;
    margin-top: -10px;
    color:#a1bd1b;
}
label{
    font-size: 16px;
    color: #0c92e6;
}
.mat-datepicker-toggle {
    color: #a1bd1b;
    font-size: 19px;
}